<header>
  <div class="container">
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    <section>
      <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </section>
    <section id="nav_content">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cv">CV</a>
        <a href="/blog">Blog</a>
      </nav>
    </section>
  </div>
</header>
