---
---

@import "{{ site.theme }}";
a {
  color: #FF0000;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 150px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}
